<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue-2.4.0.js"></script>
    <script src="./lib/vue-router-3.0.1.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="firstname">+
        <input type="text" v-model="lastname">=
        <input type="text" v-model="fullname">
    </div>

    <script>
    
    new Vue({
        el:"#app",
        data:{
            firstname:'',
            lastname:"",
            fullname:""
        },
        watch:{   //这个属性可以监听data中数据的改变
            firstname (to,from) {
                // console.log(to,from);
                this.fullname=this.firstname+"-"+this.lastname
            },
            lastname (to,from) {
                // console.log(to,from);
                this.fullname=this.firstname+"-"+this.lastname
            }
        }
    })
    
    
    </script>
</body>
</html>